body {
  font-family: 'Roboto', sans-serif;
  background-color: $grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include brk-mobile {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: $white;
}

.d-flex {
  display: flex;
}

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: $i * 10px;
  }
}

@for $i from 1 through 5 {
  .mb-#{$i} {
    margin-bottom: $i * 10px;
  }
}
