@mixin brk-mobile {
  @media (max-width: $brk-mobile) {
    @content;
  }
}

@mixin input {
  border: 1px solid lighten($black, 40%);
  border-radius: 2px;
  padding: 12px 12px;
  background: darken($white, 5%);
}
