// any variables that can be used in other scss files (colors, breakpoints,fixed paddings...)

$black: #000;
$maroon: #943e4c;
$grey: #b8b4ad;
$green: #637140;
$white: rgb(235, 235, 235);
$red: #cc1b44;

$brk-mobile: 767px;
