.cart{
  .product-line{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
   
  }
  span{
    &.name{
      flex:3;
      .small-price{
        font-size: 12px;
      }
    }
    &.qty{
      flex:1;
    }
    &.price{
      flex:1;
      text-align: right;
    }
  }
  .total-price{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid lighten($black, 60%);
  }

  .headers{
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 8px;
  }
  .input-group{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    label{
      margin-bottom: 4px;
    }

    input{
      @include input;
      border: none;
      background-color: lighten($grey, 30%);
      
    }
  }
  .divide{
    margin-top: 40px;
    padding-top: 25px;
    border-top: 1px solid lighten($black, 56%);
  }
}